.cart-container {
  text-align: center;
    margin-top: 50px;
    padding-left: 20%; /* Levo padding 20% širine stranice */
  padding-right: 20%;
    /*background-image:  url('../slike/Pocetna.jpg'); */
    background-size: cover;
    background-position: center center;
    height: 1024px;
    width: 1850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #15052F;
    background-color: plum;
}

