.cart-container {
  width: 100vw;
  font-family: 'JetBrains Mono', monospace;
  background-color: plum;
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.kurs-container{

  width: 1000px;
}

