.image-sidee{
    
}


.contact-container {
   display: flex;
  flex-direction: column;
  align-items: center; /* Centriranje elemenata */
  justify-content: center;
  max-width: 100%;
  width: 1457px;
  background-color: rgb(190, 224, 250);
    
  }
  
  @media (min-width: 1024px) {
    .contact-container {
      padding:  30px; /* Povećajte padding na širem ekranu */
    }
  }
  .input-container {
  padding-top: 20%;
}
  .input-field {
   
  width: 400px; /* Postavljanje širine input polja */
  margin: 20px; /* Razmak između input polja */
  padding: 0; /* Unutrašnji razmak unutar input polja */
  font-size: 14px; /* Veličina teksta unutar input polja */
  border-radius: 15px; /* Zaobljavanje uglova input polja */
  color: #15052F;
  
}

.split {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1024px) {
  .split {
    gap: 20%; /* Povećajte padding na širem ekranu */
  }
}
h1 {
  padding-top: 5%;
  color: #15052F;
}