.footer {

  color: white;
  background-color: rgb(121, 50, 187);
  font-family: 'JetBrains Mono', monospace;
  padding: 40px;
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
  
  
  border-top: 1px solid #e4a9e0;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}
.footer-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: rgb(107, 232, 165);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.social-icons img {
  width: 120px;
  margin: 0 5px;
}
.footer-terms {
  margin-top: 20px;
 
}

.footer-terms a {
  color: white; 
  text-decoration: none;
  font-weight: bold;
}

.footer-terms a:hover {
  text-decoration: underline;
  color: #e4a9e0;
}