.gallery-container {
  width: 100vw;
  font-family: 'JetBrains Mono', monospace;
  background-color: plum;
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}


.welcomeTekst{
  width: 1000px;
  font-family: 'JetBrains Mono', monospace;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  gap: 10%;
}

.paragraf1{
  font-size: 20px;
  font-family: 'JetBrains Mono', monospace;
  color: #15052F;
  align-items: center;
  justify-content: center;
}
h1 {
  align-items: center;
  
}

.sekcija1{
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.section1 {

  padding-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #15052F;
}
.section {
  align-items: center;
  width: 100%;
  color: #15052F;
}
.galerijaTekst {
  color: #15052F;
  justify-content: center;
  width: 100%;
}
.obavestenje {
  background-color: lightgreen;
  padding: 10px;
  margin-top: 10px;
}
.imageplaneta img {
  max-width: 50%; /* Maksimalna širina slike je 100% širine image-side */
  height: auto; /* Automatska visina slike */
  display: block;
  border-radius: 8px; /* Opciono: zaobljeni uglovi slike */
  max-height: 300px; /* Maksimalna visina slike */
}
.text-above-image {
  margin-bottom: 20px; /* Razmak ispod teksta iznad slike */
}
.section-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.galerijaTekst{
  align-items: center;
  color: #15052F;
}

.text-above-image{
  align-items: center;
  color: #15052F;
}

.content-wrapper{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-image{
  width: 600px;
}