.gallery-container {
  max-width: 1920px; /* Određena maksimalna širina */
  width: 100%;
  margin: 0; 
  background-image: url(../slike/Pocetna.jpg);
  background-size: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1 {
  padding-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #15052F;
}
.section {
  align-items: center;
  width: 100%;
  color: #15052F;
}
.galerijaTekst {
  color: #15052F;
  justify-content: center;
  width: 100%;
}
.obavestenje {
  background-color: lightgreen;
  padding: 10px;
  margin-top: 10px;
}
.imageplaneta img {
  max-width: 50%; /* Maksimalna širina slike je 100% širine image-side */
  height: auto; /* Automatska visina slike */
  display: block;
  border-radius: 8px; /* Opciono: zaobljeni uglovi slike */
  max-height: 300px; /* Maksimalna visina slike */
}
.text-above-image {
  margin-bottom: 20px; /* Razmak ispod teksta iznad slike */
}
.section-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}