.home-container1{
  max-width: 1920px;
  width: 100%;
  margin: 0; 
  background-image: url(../slike/Pocetna.jpg);
  background-size: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'JetBrains Mono', monospace;

  }
  
  @media (min-width: 1024px) {
    .home-container {
      padding: 0 30px; 
    }
  }

  .gallery-button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  .learn {
    padding-top: 60px;
    color :#15052F;
    
  }
  .gallery-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #15052F;
    transform: 500ms;
  }

  .split-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 0 auto; 
    
  }
  
  .text-side {
    flex: 1;
    padding-left: 10%; 
    padding-right: 20%;
    padding-top: 10%;
    text-align: left; 
    font-size: 30px; 
    
  }
  .image-side {
    flex: 1;
    padding: 20px;
    
  }
  .image-side img {
    padding-top: 20%;
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 8px; 
  }

  @media (min-width: 768px) {
    .split-container {
      gap: 10%; 
    }
  }


  .split-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 0 auto; 
    font-family: 'JetBrains Mono', monospace;
  }
  
  .text-side1 {
    flex: 1;
    padding: 20px;
    text-align: left;
    font-size: 30px; 
    padding-right: 10%;
    color: #15052F;
  }
  
  .image-side1 {
    flex: 1; 
    padding-left: 10%; 
    
    padding-top: 10%;
    
  }
  
  .image-side1   img {
    max-width: 100%;
    height: auto; 
    display: block;
    border-radius: 8px; 
  }

  .home-container2 {
   
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .home-container2 button {
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100px;
    background-color:  #15052F
  }

  .main-paragraph {
    color: #15052F;
  }
  .main-paragraph2 {
    color: #15052F; 
    font-size: 25px;
    line-height: 1.6;
  }

  @media (min-width: 500px) {
    .split-container2 {
      gap: 5%; 
    }
  }