.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(../slike/login.png);
  background-size: 100vw;
  height: 80vh;
  width: 100vw;
}
.glavniDivLogin{
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
.levaStrana{
  width: 50%;
}
.loginLogo{
  width: 50%;
}
.desnaStranaLogin{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'JetBrains Mono', monospace;
  color: #15052f;
  font-weight: bolder;
  flex-direction: column;
  justify-content: center;
  
}
.prijaviSe{
  font-size: 30px;
}
.login h2 {
  font-size: 2rem;
}

.login form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.login form input {
  font-size: 1.5rem;
  border-radius: 5px;
}
 @media (max-width: 768px) {
  .login {
   
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}