nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(138, 43, 226, 0.1); 
  padding: 30px; 
  position: fixed;
 
  width: 100%;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo img {
  height: 40px; 
}

.menu {
  list-style-type: none;
  
  padding-left: 20%;
  margin: 10; 
  display: flex;
  gap: 10px; 
  align-items: center; 

}

.menu li {
  display: inline;
}

.menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0); 
  padding: 10px 15px; 
  font-size: 16px; 
  font-family: 'JetBrains Mono', monospace;
}

.menu li a:hover {
  color: white;
  transition: 300ms;
  border-radius: 4px; 
}