.weather-container {
  
    width: 100vw;
    font-family: 'JetBrains Mono', monospace;
    background-image: url(../slike/uslovi1.png);
    background-size: 100vw;
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20%;

}

.weather-container h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.weather-info {
  margin-top: 15px;
  color: #555;
}

.weather-info p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}

.weather-info button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

.weather-info button:hover {
  background-color: #0056b3;
}